// Ressources
// This ressources arent displayed in this page, only for the Window.load jquery function
// **************************************************************************************
// **************************************************************************************
// SplashScreen
%img.hide{:src => "/assets/seasonsproject/splashbackground.png"}
%img.hide{:src => "/assets/seasonsproject/anim_progressbar_onblack.gif"}
%img.hide{:src => "/assets/seasonsproject/tree_logo.png"}
%img.hide{:src => "/assets/seasonsproject/tree_logo.png"}
%img.hide{:src => "/assets/seasonsproject/tree_logo_leaves.png"}

// Logos etc.
%img.hide{:src => "/assets/seasonsproject/seasons_inline_logo.png"}
%img.hide{:src => "/assets/seasonsproject/sprite_logo_html5.png"}

// UI
%img.hide{:src => "/assets/seasonsproject/sprites_btn_next_season.png"}
%img.hide{:src => "/assets/seasonsproject/sprites_btn_prev_season.png"}
%img.hide{:src => "/assets/seasonsproject/sprite_icn_sound.png"}
%img.hide{:src => "/assets/seasonsproject/sprite_icn_user_preferences.png"}

// Seasons ambient sound
%audio.hide{:src => "/assets/sounds/season0ambient.wav", :preload => "auto"}
%audio.hide{:src => "/assets/sounds/season1ambient.wav", :preload => "auto"}
%audio.hide{:src => "/assets/sounds/season2ambient.wav", :preload => "auto"}
%audio.hide{:src => "/assets/sounds/season3ambient.wav", :preload => "auto"}

// Season 0
%img.hide{:src => "/assets/seasonsproject/bg_seasons0.png"}
%img.hide{:src => "/assets/seasonsproject/paralax_bottom_season0.png"}
%img.hide{:src => "/assets/seasonsproject/paralax_top_season0.png"}
%img.hide{:src => "/assets/seasonsproject/scene_season0.png"}
%img.hide{:src => "/assets/seasonsproject/hotspot_season0_01.png"}
%img.hide{:src => "/assets/seasonsproject/hotspot_season0_02.png"}
%img.hide{:src => "/assets/seasonsproject/hotspot_season0_03.png"}
%img.hide{:src => "/assets/seasonsproject/hotspot_season0_04.png"}
%img.hide{:src => "/assets/seasonsproject/hotspot_season0_05.png"}
%audio.hide{:src => "/assets/sounds/season0fx01.wav", :preload => "auto"}
%audio.hide{:src => "/assets/sounds/season0fx02.wav", :preload => "auto"}
%audio.hide{:src => "/assets/sounds/season0fx03.wav", :preload => "auto"}
%audio.hide{:src => "/assets/sounds/season0fx04.wav", :preload => "auto"}
%audio.hide{:src => "/assets/sounds/season0fx05.wav", :preload => "auto"}
// **************************************************************************************
// **************************************************************************************



// Splash Screen
#SplashScreen
  .header
  .treelogo
    .leaves
  .launchbar
    .progress
    .launchbtn.do-FadeOutSplash
      Start the experience !
  .footer
    .html5notice
      %span
        Please Upgrade your
      %span
        browser for full experience



// Main Structure
#Header
  .contentwrapper
    %a.seasoninlinelogo{:href => "/templates/index"}
    %ul.usermenu
      %li.sound.do-ToggleSound
        %span
          Off / On
      %li.usersubmenu
        %span
          Welcome 
          %strong
            Frédéric
#Content
#Footer
  .contentwrapper



// PopIpContent
.hide
  != render :partial => "/popin/season0_01"
  != render :partial => "/popin/season0_02"
  != render :partial => "/popin/season0_03"
  != render :partial => "/popin/season0_04"
  != render :partial => "/popin/season0_05"




